@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-font: 'Playfair Display', serif;
  }

body {
    height: 100vh;
    width: 100vw;
}


/* HEADER STYLING */

header {
    line-height: 2rem;
    background-image: linear-gradient(to right, hsl(16, 69%, 31%), hsl(16, 69%, 41%));
    color: #fff;
}

.title {
    font-family: var(--title-font);
}


/* MAIN SECTION STYLING */

main {
    height: 40%;
}

#left-side {
    text-align: center;
    border-right: 2px solid black;
    background-color: #E8E8E8;
}

#level-selector {
    width: 80%;
    margin: auto;
    cursor: pointer;
}

#button-container {
    display: grid;
    place-items: center;
}

#button-container button:hover {
    opacity: 85%;
}

#random-challenge {
    display: grid;
    place-items: center;
    font-size: 2.1rem;
    font-weight: 300;
}


/* FOOTER STYLING */

footer {
    text-align: center;
}

#footer-content {
    background-color: #333;
    color: white;
    width: 100%;
    padding: 15px;
    display: grid;
    place-items: center;
    font-size: 0.8rem;
}


/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    header img {
        height: 70%;
    }
}

@media screen and (min-width: 1200px) {
    header img {
        height: 80%;
    }
}